<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Bikes Rental</title>
        <link href="/webjars/bootstrap/3.3.6/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/webjars/tether/1.1.1/dist/css/tether.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/webjars/font-awesome/4.6.1/css/font-awesome.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link th:href="@{css/carousel.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link th:href="@{css/main.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="/webjars/jquery/1.12.2/dist/jquery.js"></script>
        <script src="/webjars/tether/1.1.1/dist/js/tether.js"></script>
        <script src="/webjars/bootstrap/3.3.6/js/bootstrap.js"></script>
    </head>
    <body></body>
</html>
