<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head><title>Bike Rental</title></head>
    <body>
        <div th:fragment="menuadmin" class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/bikes') ? 'active':''}"><a th:href="@{/admin/bikes}">Bikes</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/admin/reservations') ? 'active':''}"><a th:href="@{/admin/reservations}">Reservations</a></li>
            </ul>
        </div>
    </body>
</html>
