<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title>Bikes - list</title>
    </head>
    <body>
        <nav th:replace="fragments/menumain :: menumain"></nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" th:if="${success}">
                        <strong>Well done!</strong>&nbsp;<span th:text='${success}'>Success</span>
                    </div>
                    <div class="jumbotron" th:style="'background:url(' + @{/images/jumbotron.jpg} + ');'">
                        <h1>Best bikes!</h1>
                        <p>Just here. Best bikes, best staff, best prices!</p>
                        <p><a class="btn btn-primary btn-lg" th:href="@{/bikes}" role="button">Check more</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" style="text-align: center;">
                    <div style="width: 140px; height: 140px; margin: 20px auto 35px; background-color: #f4f4f4; border-radius:50%; text-align: center;">
                        <span class="glyphicon glyphicon-wrench" style="font-size: 50px; margin-top: 44px;"></span>
                    </div>
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p>
                        <a class="btn btn-default" role="button" th:href="@{/bikes}">View details »</a>
                    </p>
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    <div style="width: 140px; height: 140px; margin: 20px auto 35px; background-color: #f4f4f4; border-radius:50%; text-align: center;">
                        <span class="glyphicon glyphicon-road" style="font-size: 50px; margin-top: 44px;"></span>
                    </div>
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p>
                        <a class="btn btn-default" role="button" th:href="@{/bikes}">View details »</a>
                    </p>
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    <div style="width: 140px; height: 140px; margin: 20px auto 35px; background-color: #f4f4f4; border-radius:50%; text-align: center;">
                        <span class="glyphicon glyphicon-leaf" style="font-size: 50px; margin-top: 44px;"></span>
                    </div>
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p>
                        <a class="btn btn-default" role="button" th:href="@{/bikes}">View details »</a>
                    </p>
                </div>
            </div>
            <hr class="featurette-divider" />
            <footer>
                <p> © 2016 Company, Inc. </p>
            </footer>
        </div>
    </body>
</html>